/* Darren Yang
6/18/2024
ISTE240 Exercise 4 - JavaScript Part 1 */
/* displays a vertical line on the left side */
body{
    border-left: 1px solid;
}

/* Some styling for the hr that seperates each exercise */

hr{
    width:100%;
    margin-left:5px;
    height:1px;
}

/* Styling for each exercise */
.ex{
    margin-left:5px;
    margin-top:10px;
}

h2{
    margin-top:0px;
}