.container{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-content: center;
    padding-top:50px;
    margin-bottom: 50px;
    width:100%;
}

.degreeHead{
    margin:auto;
}

.under{
    width:100%;
}

.accor{
    position:relative;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
}


