/* Mobile-first */

body{
    margin:0px;
}
/*Side bar with the img using background */
#side{
    display:none;
    background-image:url("../../side.jpg");
    width:60px;
    height:900px;
}

#content{
    width:fit-content;
    height:auto;
}

/* asterisks */
.ast{
position:relative;
top:10%;
left:10%;
margin:0px;
width:fit-content;
height:80px;
font-size:120px;
color:rgb(68, 147, 40);
text-shadow:5px 5px yellow;
}

/* box containing flower names and asterisks */
.box{
    border-radius:10%;
    width:200px;
    height:200px;
    margin:30px;
    background-color:green;
}

.box:hover{
    background-color:purple;
    transition:all 1s;
    cursor:grab;
}

/* flower names */
#flower1{
    z-index:2;
    position:relative;
    width:fit-content;
    left:40%;
    margin:0px;
    font-size:30px;
    font-weight:bold;
    color:gold;
}

#flower2{
    z-index:2;
    position:relative;
    width:fit-content;
    left:24%;
    margin:0px;
    font-size:30px;
    font-weight:bold;
    color:gold;
}

#flower3{
    z-index:2;
    position:relative;
    width:fit-content;
    left:35%;
    margin:0px;
    font-size:30px;
    font-weight:bold;
    color:gold;
}

#flower4{
    z-index:2;
    position:relative;
    width:fit-content;
    left:45%;
    margin:0px;
    font-size:30px;
    font-weight:bold;
    color:gold;
}

@media screen and (min-width:500px){
    #side{
        display:block;
    }

    #content{
        position:relative;
        left:40px;
        bottom:910px;
    }
}

@media screen and (min-width:601px){
    #content{
        display:grid;
        grid-template-areas:"box1 box2"
                            "box3 box4";
    }

    #box1{
        grid-area:box1;
    }

    #box2{
        grid-area:box2;
    }

    #box3{
        grid-area:box3;
    }

    box4{
        grid-area:box4;
    }

    
}